<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<!-- Mermaid support -->
<script src="https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    mermaid.initialize({
      startOnLoad: true,
      theme: "default",
      flowchart: {
        useMaxWidth: true,
        htmlLabels: true
      },
      securityLevel: 'loose'
    });
  });
</script>
